Repository eternallycyf/ims-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

🔖 chore: use @antfu/eslint-config
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .vscode/extensions.json
  .vscode/global.code-snippets
  .vscode/launch.json
  .vscode/settings.json
  commitlint.config.js
  environment.d.ts
  eslint.config.mjs
  mock/list.ts
  package.json
  postcss.config.cjs
  src/layout/index.tsx
  src/main.tsx
  src/shims.d.ts
  src/vite-env.d.ts
  stats.html
  stylelintrc.json
  tsconfig.json
  uno.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

🔖 chore: remove tailwindcss
  .vscode/settings.json
Due: prettier --write

✨ feat: add theme switch demo
  .vscode/settings.json
  src/main.tsx
  src/theme/Switch.tsx
  src/theme/ToggleTheme.tsx
  src/theme/ToggleTheme/index.module.less
  src/theme/ToggleTheme/index.tsx
  src/theme/ToggleTheme2/index.module.less
  src/theme/ToggleTheme2/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

💄 style: update less var tip
  public/style/var.less
Due: none

📝 docs: add theme
  README.md
Due: prettier --write

🔧 config: add unocss config
  package.json
  src/layout/index.less
  src/layout/index.tsx
  src/shims.d.ts
  stats.html
  uno.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

📝 docs: add theme variables docs
  .vscode/settings.json
  README.md
  package.json
  public/style/antd.less
  public/style/global-var.less
  src/layout/index.less
  src/layout/index.tsx
  src/theme/init/var.js
  src/theme/init/var.ts
  stats.html
  tsconfig.node.json
  uno.config.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

👷 build: add rollup alone chunk
  README.md
  stats.html
  vite.config.ts
Due: prettier --write

🔧 config: use eslint replace prettier
  .prettierignore
  .prettierrc
Due: none

🐛 fix: adjust types root path
  .gitignore
  eslint.config.mjs
  package.json
  src/layout/components/theme-mode-btn/index.tsx
  src/theme/antd-theme.ts
  tsconfig.json
  types/api.ts
  types/entity.ts
  types/enum.ts
  types/router.ts
  types/setting.ts
  types/utils.ts
Due: eslint --fix, prettier --write

✨ feat: remove spare dependencies
  .husky/commit-msg
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  README.md
  commitlint.config.js
  package.json
  public/style/global-var.less
  src/api/apiClient.ts
  src/hooks/router/use-permission-routes.tsx
  src/layouts/components/theme-mode-btn/index.tsx
  src/layouts/core/search-bar.tsx
  src/layouts/core/setting-button.tsx
  src/layouts/dashboard/multi-tabs.tsx
  src/pages/sys/login/LoginForm.tsx
  src/pages/sys/login/components/ReturnButton.tsx
  src/router/utils.ts
  src/style/color.less
  src/style/index.less
  src/style/scroll-bar.less
  src/style/theme.less
  src/utils/tree.ts
  stats.html
  stylelintrc.json
  uno.config.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

🔖 chore: add dev @iconify/json
  package.json
Due: prettier --write

✨ feat: multiple-tab add local cache and fix bugs
  README.md
  src/assets/images/base/logo.png
  src/hooks/web/use-keepalive.ts
  src/layouts/components/logo.tsx
  src/layouts/components/theme-mode-btn/index.tsx
  src/layouts/core/bread-crumb.tsx
  src/layouts/core/setting-button.tsx
  src/layouts/dashboard/header.tsx
  src/layouts/dashboard/multi-tabs.tsx
  src/layouts/dashboard/nav.tsx
  src/store/index.ts
  src/store/settingStore.ts
  src/store/useMenuInfo.ts
  src/theme/antd-theme.ts
  stats.html
  types/enum.ts
Due: eslint --fix, prettier --write

✨ feat: add muitiple demo
  src/layouts/dashboard/multi-tabs.tsx
  src/pages/dashboard/analysis/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/dashboard/workbench/index.tsx
  src/pages/management/system/user/detail.tsx
Due: eslint --fix

🐛 fix: router keepalive search params state and add multiple router tab-title
  README.md
  src/hooks/router/use-match-route-meta.tsx
  src/hooks/web/use-keepalive.ts
  src/layouts/dashboard/multi-tabs.tsx
  src/pages/dashboard/analysis/index.tsx
  src/pages/dashboard/workbench/index.tsx
  types/enum.ts
  types/router.ts
Due: eslint --fix, prettier --write

✨ feat: add error boundry page
  package.json
  src/_mock/assets.js
  src/assets/images/characters/character_5.png
  src/hooks/router/use-permission-routes.tsx
  src/layouts/core/Error/PageError.tsx
  src/layouts/core/Error/index.ts
  src/layouts/core/Login/Authorized.tsx
  src/layouts/core/index.ts
  types/router.ts
Due: eslint --fix, prettier --write

🐛 fix: dynamic route multi tab
  README.md
  src/hooks/router/use-keepalive.ts
  src/hooks/router/use-match-route-meta.tsx
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/CustomMenu/MenuHorizontal.tsx
  src/layouts/core/MultiTabs/MultiTabs.tsx
  src/pages/dashboard/analysis/index.tsx
  stats.html
  types/router.ts
Due: eslint --fix, prettier --write

⚡️ perf: tabs cache component
  src/hooks/router/use-keepalive.ts
  src/layouts/core/MultiTabs/MultiTabs.tsx
  src/pages/dashboard/analysis/index.tsx
  src/pages/management/system/user/detail.tsx
  src/utils/publish.ts
  stats.html
Due: eslint --fix

🎨 refactor: adjust login and error page path
  .env
  src/App.tsx
  src/hooks/router/use-keepalive.ts
  src/layouts/core/Error/Page403.tsx
  src/layouts/core/Error/Page404.tsx
  src/layouts/core/Error/Page500.tsx
  src/layouts/core/Error/index.ts
  src/layouts/core/GlobalHeader/AccountDropdown.tsx
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/core/GlobalHeader/Logo.tsx
  src/layouts/core/GlobalHeader/Notice.tsx
  src/layouts/core/GlobalHeader/index.ts
  src/layouts/core/Login/Login.tsx
  src/layouts/core/Login/LoginForm.tsx
  src/layouts/core/Login/MobileForm.tsx
  src/layouts/core/Login/QrCodeForm.tsx
  src/layouts/core/Login/RegisterForm.tsx
  src/layouts/core/Login/ResetForm.tsx
  src/layouts/core/Login/ReturnButton.tsx
  src/layouts/core/Login/index.ts
  src/layouts/core/MultiTabs/MultiTabs.tsx
  src/router/error-routes.tsx
  src/router/index.tsx
  src/router/modules/errors.tsx
  src/vite-env.d.ts
  stats.html
  types/enum.ts
Due: eslint --fix

🐛 fix: md show collapsed btn
  src/layouts/core/GlobalHeader/BreadCrumb.tsx
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/core/GlobalHeader/Logo.tsx
  uno.config.ts
Due: eslint --fix

✨ feat: adjust layout
  .lintstagedrc
  src/App.tsx
  src/components/Page/index.tsx
  src/components/animate/motion-lazy.tsx
  src/layouts/core/Content/Content.tsx
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/CustomMenu/MenuHorizontal.tsx
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/core/GlobalHeader/SettingButton.tsx
  src/layouts/core/MultiTabs/MultiTabs.tsx
  src/layouts/helpers/config.ts
  src/layouts/layout/BasicLayout.tsx
  src/main.tsx
  src/pages/dashboard/analysis/index.tsx
  src/pages/dashboard/workbench/index.tsx
  src/pages/management/system/user/detail.tsx
  src/router/index.tsx
  src/store/settingStore.ts
  src/style/ant/app.less
  src/style/ant/breadcrumb.less
  src/style/ant/index.less
  src/style/ant/tab.less
  stats.html
  uno.config.ts
Due: eslint --fix, stylelint --fix

🐛 fix: when disabled multiTab show menuToggleBtn
  src/layouts/core/GlobalHeader/Header.tsx
Due: eslint --fix

📝 docs: update readme md
  README.md
Due: prettier --write

🐛 fix: layout border
  README.md
  src/_mock/assets.js
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/helpers/config.ts
Due: eslint --fix, prettier --write

✨ feat: add page
  src/pages/components/animate/index.tsx
  src/pages/components/chart/index.tsx
  src/pages/components/editor/index.tsx
  src/pages/components/icon/index.tsx
  src/pages/components/markdown/index.tsx
  src/pages/components/multi-language/index.tsx
  src/pages/components/scroll/index.tsx
  src/pages/components/upload/index.tsx
  src/pages/dashboard/workbench/index.tsx
  src/pages/management/blog/index.tsx
  src/pages/management/system/organization/index.tsx
  src/pages/management/system/organization/organization-chart.tsx
  src/pages/management/system/permission/index.tsx
  src/pages/management/system/permission/permission-modal.tsx
  src/pages/management/system/role/index.tsx
  src/pages/management/system/role/role-modal.tsx
  src/pages/management/system/user/detail.tsx
  src/pages/management/system/user/index.tsx
  src/pages/management/user/account/index.tsx
  src/pages/management/user/profile/index.tsx
  src/pages/menu-level/menu-level-1a/index.tsx
  src/pages/menu-level/menu-level-1b/menu-level-2a/index.tsx
  src/pages/menu-level/menu-level-1b/menu-level-2b/menu-level-3a/index.tsx
  src/pages/menu-level/menu-level-1b/menu-level-2b/menu-level-3b/index.tsx
  src/pages/sys/calendar/index.tsx
  src/pages/sys/error/Page403.tsx
  src/pages/sys/error/Page404.tsx
  src/pages/sys/error/Page500.tsx
  src/pages/sys/others/blank.tsx
  src/pages/sys/others/calendar/index.tsx
  src/pages/sys/others/iframe/external-link.tsx
  src/pages/sys/others/iframe/index.tsx
  src/pages/sys/others/kanban/index.tsx
  stats.html
Due: eslint --fix

🔖 chore: update dependencies
  package.json
Due: prettier --write

🐛 fix: multiple tabs cache
  src/layouts/core/MultiTabs/MultiTabs.tsx
Due: eslint --fix

⚡️ perf: update component import
  Dockerfile
  README.md
  docker-compose.yaml
  package.json
  src/Application/LoginStateProvider.tsx
  src/components/Icon/IconButton.tsx
  src/components/Icon/IconifyIcon.tsx
  src/components/Icon/SvgIcon.tsx
  src/components/Icon/index.ts
  src/components/ScrollBar/index.tsx
  src/components/index.ts
  src/hooks/router/use-permission-routes.tsx
  src/hooks/router/use-route-to-menu.tsx
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/GlobalHeader/AccountDropdown.tsx
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/core/GlobalHeader/LocalePicker.tsx
  src/layouts/core/GlobalHeader/Notice.tsx
  src/layouts/core/GlobalHeader/SearchBar.tsx
  src/layouts/core/GlobalHeader/SettingButton.tsx
  src/layouts/core/Login/ResetForm.tsx
  src/layouts/core/MultiTabs/FullScreen.tsx
  src/layouts/core/MultiTabs/MultiTabs.tsx
  src/pages/functions/clipboard/index.tsx
  src/pages/management/system/organization/index.tsx
  src/pages/management/system/permission/index.tsx
  src/pages/management/system/role/index.tsx
  src/pages/management/system/user/index.tsx
  src/router/error-routes.tsx
  src/router/modules/dashboard.tsx
  src/router/modules/errors.tsx
  src/router/modules/functions.tsx
  stats.html
Due: eslint --fix, prettier --write

🐛 fix: remove animate
  src/components/animate/interface.ts
  src/components/animate/motion-container.tsx
  src/components/animate/motion-lazy.tsx
  src/components/animate/motion-viewport.tsx
  src/components/animate/variants/action.ts
  src/components/animate/variants/background.ts
  src/components/animate/variants/bounce.ts
  src/components/animate/variants/container.ts
  src/components/animate/variants/fade.ts
  src/components/animate/variants/flip.ts
  src/components/animate/variants/index.ts
  src/components/animate/variants/path.ts
  src/components/animate/variants/rotate.ts
  src/components/animate/variants/scale.ts
  src/components/animate/variants/slide.ts
  src/components/animate/variants/transition.ts
  src/components/animate/variants/zoom.ts
Due: eslint --fix

🐛 fix: add animate
  src/App.tsx
  src/components/Animate/MotionContainer.tsx
  src/components/Animate/MotionLazy.tsx
  src/components/Animate/MotionViewport.tsx
  src/components/Animate/index.ts
  src/components/Animate/interface.ts
  src/components/Animate/variants/action.ts
  src/components/Animate/variants/background.ts
  src/components/Animate/variants/bounce.ts
  src/components/Animate/variants/container.ts
  src/components/Animate/variants/fade.ts
  src/components/Animate/variants/flip.ts
  src/components/Animate/variants/index.ts
  src/components/Animate/variants/path.ts
  src/components/Animate/variants/rotate.ts
  src/components/Animate/variants/scale.ts
  src/components/Animate/variants/slide.ts
  src/components/Animate/variants/transition.ts
  src/components/Animate/variants/zoom.ts
  src/components/index.ts
  src/layouts/core/Error/Page403.tsx
  src/layouts/core/Error/Page404.tsx
  src/layouts/core/Error/Page500.tsx
  src/layouts/core/Error/PageError.tsx
  src/layouts/core/GlobalHeader/SettingButton.tsx
Due: eslint --fix

✨ feat: add animate icon demos
  src/layouts/core/GlobalHeader/SettingButton.tsx
  src/pages/components/animate/control-panel.tsx
  src/pages/components/animate/index.tsx
  src/pages/components/animate/views/background/container.tsx
  src/pages/components/animate/views/background/index.tsx
  src/pages/components/animate/views/background/toolbar.tsx
  src/pages/components/animate/views/inview/container.tsx
  src/pages/components/animate/views/inview/index.tsx
  src/pages/components/animate/views/inview/toolbar.tsx
  src/pages/components/animate/views/scroll/container.tsx
  src/pages/components/animate/views/scroll/index.tsx
  src/pages/components/animate/views/scroll/toolbar.tsx
  src/pages/components/icon/index.tsx
  src/theme/initLessVar.js
  stats.html
Due: eslint --fix

🐛 fix: menu re-render
  src/layouts/Enhance/withWrapper.tsx
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/layout/BasicLayout.tsx
  stats.html
Due: eslint --fix

💄 style: add home-page icon
  README.md
  src/layouts/core/MultiTabs/MultiTabs.tsx
Due: eslint --fix, prettier --write

💄 style: edit text
  src/pages/components/animate/views/inview/container.tsx
Due: eslint --fix

🐛 fix: locale text error
  src/layouts/core/GlobalHeader/AccountDropdown.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.{css,less,scss}
  prettier --write: any of: *.{json,md}
