Repository eternallycyf/ims-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

🐛 fix: keep-alive suffix
  src/hooks/router/use-keepalive.ts
Due: eslint --fix

💄 style: add breadcrumb link hover color
  src/style/ant/breadcrumb.less
Due: stylelint --fix

✨ feat: add Helmet title
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/CustomMenu/MenuHorizontal.tsx
  src/router/index.tsx
Due: eslint --fix

🐛 fix: menu toggle re-render
  src/layouts/core/CustomMenu/Menu.tsx
Due: eslint --fix

🐛 fix: hide menu
  src/hooks/router/use-keepalive.ts
Due: eslint --fix

🐛 fix: menu toggle re-render
  src/App.tsx
Due: eslint --fix

✅ test: test re-render
  src/hooks/router/use-permission-routes.tsx
Due: eslint --fix

📝 docs: update README.md
  README.md
  README.zh-CN.md
Due: prettier --write

🔖 chore: upgrade msw and keep eslint version
  package.json
  public/mockServiceWorker.js
  src/_mock/_org.js
  src/_mock/_user.js
  src/_mock/assets.js
  src/_mock/handlers/_org.js
  src/_mock/handlers/_user.js
  src/_mock/index.js
  src/_mock/utils.js
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/MultiTabs/MultiTabs.tsx
  src/pages/components/animate/views/inview/container.tsx
  src/style/ant/breadcrumb.less
  stats.html
Due: eslint --fix, stylelint --fix, prettier --write

🔧 config: add toggle router type with static or dynamic env
  .env
  environment.d.ts
  src/hooks/router/use-permission-routes.tsx
  src/router/menu-routes.tsx
  src/router/utils.ts
  src/vite-env.d.ts
Due: eslint --fix

📝 docs: update README.md
  README.md
  stats.html
Due: prettier --write

🔖 chore: remove unused dependencies
  package.json
Due: prettier --write

✨ feat: add i18n TypeScript Tip
  src/locales/i18n.ts
  types/utils.ts
Due: eslint --fix

✨ feat: add i18n TypeScript tip
  src/locales/i18n.ts
  types/i18next.d.ts
  types/utils.ts
Due: eslint --fix

🐛 fix: i18n types error
  src/hooks/router/use-route-to-menu.tsx
  src/layouts/core/GlobalHeader/BreadCrumb.tsx
  src/layouts/core/GlobalHeader/SearchBar.tsx
  src/layouts/core/Login/MobileForm.tsx
  src/layouts/core/MultiTabs/MultiTabs.tsx
  src/pages/management/system/permission/index.tsx
  src/router/index.tsx
Due: eslint --fix

⚡️ perf: update use-reponsive.ts findLast compatibility
  src/hooks/theme/use-reponsive.ts
Due: eslint --fix

📝 docs: update READNE.md
  .vscode/settings.json
  README.md
  README.zh-CN.md
Due: prettier --write

⚡️ perf: remove old fix re-render code
  src/layouts/Enhance/withWrapper.tsx
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/layout/BasicLayout.tsx
Due: eslint --fix

chore: optimize dockerfile (#62)
  Dockerfile
Due: none

👷 build: add proxy agent
  vite.config.ts
Due: none

✨ feat: performance
  src/_mock/assets.js
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/CustomMenu/MenuHorizontal.tsx
  src/layouts/core/GlobalHeader/BreadCrumb.tsx
  src/layouts/core/GlobalHeader/SearchBar.tsx
  src/layouts/core/Login/LoginForm.tsx
  src/store/userStore.ts
Due: eslint --fix

🐛 fix: setting exit login button icon
  src/layouts/core/Login/LoginForm.tsx
Due: eslint --fix

⚡️ perf: fix error and update npm dependencies version
  .env
  .env.development
  .env.production
  eslint.config.mjs
  package.json
  public/mockServiceWorker.js
  src/_mock/assets.js
  src/_mock/handlers/_user.js
  src/_mock/utils.js
  src/hooks/router/use-route-to-menu.tsx
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/CustomMenu/MenuHorizontal.tsx
  src/layouts/core/GlobalHeader/BreadCrumb.tsx
  src/layouts/core/GlobalHeader/Notice.tsx
  src/layouts/core/GlobalHeader/SearchBar.tsx
  src/layouts/core/Login/Authorized.tsx
  src/store/useMenuInfo.ts
  src/store/userStore.ts
  src/style/public.less
  stats.html
  tsconfig.json
  vite.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

🐛 fix: update unocss version
  package.json
  src/style/index.less
Due: stylelint --fix, prettier --write

🐛 fix: update unocss version
  package.json
  src/pages/components/animate/views/background/index.tsx
  src/pages/components/animate/views/inview/index.tsx
  src/pages/components/animate/views/scroll/index.tsx
  src/pages/functions/clipboard/index.tsx
  src/pages/management/system/organization/index.tsx
Due: eslint --fix, prettier --write

⚡️ perf: ui improvement
  Dockerfile
  src/layouts/core/CustomMenu/Menu.tsx
  src/layouts/core/GlobalHeader/Header.tsx
  src/layouts/core/GlobalHeader/Logo.tsx
  src/layouts/core/GlobalHeader/SearchBar.tsx
  src/layouts/core/Login/LoginForm.tsx
Due: eslint --fix

✨ feat: add token expired example page
  src/_mock/assets.js
  src/_mock/handlers/_demo.js
  src/_mock/index.js
  src/api/apiClient.ts
  src/api/services/demoService.ts
  src/locales/lang/en_US/sys.json
  src/locales/lang/zh_CN/sys.json
  src/pages/functions/token-expired/index.tsx
  src/store/userStore.ts
Due: eslint --fix, prettier --write

✨ feat: add ims-view demo
  .env.development
  .env.production
  environment.d.ts
  package.json
  src/_mock/assets.js
  src/hooks/router/use-route-to-menu.tsx
  src/layouts/core/Login/LoginForm.tsx
  src/locales/lang/en_US/sys.json
  src/locales/lang/zh_CN/sys.json
  src/pages/functions/ims-view/config/columns.tsx
  src/pages/functions/ims-view/config/constant.tsx
  src/pages/functions/ims-view/config/interface.ts
  src/pages/functions/ims-view/config/search.tsx
  src/pages/functions/ims-view/index.tsx
  src/theme/antd-theme.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

🐛 fix: remove not use var
  src/pages/functions/ims-view/index.tsx
Due: eslint --fix

🐛 fix: remove ims view demo
  package.json
  src/_mock/assets.js
  src/pages/functions/ims-view/config/columns.tsx
  src/pages/functions/ims-view/config/constant.tsx
  src/pages/functions/ims-view/config/interface.ts
  src/pages/functions/ims-view/config/search.tsx
  src/pages/functions/ims-view/index.tsx
Due: eslint --fix, prettier --write

✨ feat: add ims-view
  eslint.config.mjs
  package.json
  src/pages/dashboard/workbench/config/columns.tsx
  src/pages/dashboard/workbench/config/constant.tsx
  src/pages/dashboard/workbench/config/interface.ts
  src/pages/dashboard/workbench/config/search.tsx
  src/pages/dashboard/workbench/index.tsx
  stats.html
  vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.{css,less,scss}
  prettier --write: any of: *.{json,md}
